{{#each duvida}}
    <div class="title">
        <h1>
            {{this.title}}
        </h1>
    </div>
    <div class="descricao">{{this.description}}

    </div>
    <div class="price">{{this.img}}

    </div>
{{/each}}
