<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- linkar todos os css somente nesse arquivo --}}
    <title>Dúvidas Frequentes</title>
</head>
<body>
    {{> navbar}}

    <main>
        {{{ body }}}
    </main>
</body>
</html>